<manifest package="nz.liamdegrey.showcase"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- MVP activities -->

        <activity
            android:name=".ui.mvp.splash.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.mvp.home.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!-- MVVM activities -->

        <activity
            android:name=".ui.mvvm.splash.SplashActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
